@import '@fontsource/cairo/400.css';
@import '@fontsource/cairo/700.css';
@import '@fontsource/cairo/800.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
